@page "/access-denunciation"
@using JeBalance.Inspection.Ressources
@using JeBalance.Domain.Models
@inject DenonciationOutputService DenonciationOutputService

<h2>Accéder à une dénonciation</h2>
<EditForm Model="@searchModel" OnValidSubmit="@GetDenonciation">
    <div class="form-group">
        <InputText @bind-Value="searchModel.DenonciationId" class="form-control" placeholder="Entrez l'ID (UUID)" />
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</EditForm>

@if (isLoading)
{
    <p><em>Chargement...</em></p>
}
else if (denonciationDetails != null)
{
    <h3>Détails de la Dénonciation</h3>
    <p><strong>Horodatage: </strong>@denonciationDetails.Date</p>
    <h4>Informateur</h4>
    <p>@denonciationDetails.Informant.FirstName @denonciationDetails.Informant.LastName</p>
    <p>Adresse: @denonciationDetails.Informant.Address.Number, @denonciationDetails.Informant.Address.StreetName, @denonciationDetails.Informant.Address.PostalCode, @denonciationDetails.Informant.Address.City</p>
    
    <h4>Suspect</h4>
    <p>@denonciationDetails.Suspect.FirstName @denonciationDetails.Suspect.LastName</p>
    <p>Adresse: @denonciationDetails.Suspect.Address.Number, @denonciationDetails.Suspect.Address.StreetName, @denonciationDetails.Suspect.Address.PostalCode, @denonciationDetails.Suspect.Address.City</p>

    <p><strong>Délit: </strong>@denonciationDetails.Crime</p>
    @if (!string.IsNullOrEmpty(denonciationDetails.Country))
    {
        <p><strong>Pays d'évasion: </strong>@denonciationDetails.Country</p>
    }

    @if (denonciationDetails.Response != null)
    {
        <h4>Réponse</h4>
        <p><strong>Horodatage de réponse: </strong> @denonciationDetails.Response.Date</p>
        <p><strong>Type de réponse: </strong>@denonciationDetails.Response.ResponseType</p>
        @if (denonciationDetails.Crime == Crime.EvasionFiscale)
        {
            <p>Rétribution: @denonciationDetails.Response.Retribution</p>
        }
    }
}

@code {
    private SearchModel searchModel = new SearchModel();
    private bool isLoading = false;
    private DenonciationOutput denonciationDetails;

    private async Task GetDenonciation()
    {
        isLoading = true;
        try
        {
            denonciationDetails = await DenonciationOutputService.GetDenonciationAsync(searchModel.DenonciationId);
            
        }
        catch (Exception ex)
        {
            denonciationDetails = null;
        }
        finally
        {
            isLoading = false;
        }
    }

    private class SearchModel
    {
        public string DenonciationId { get; set; }
    }
}